/**
 * @file
 * Styling for the audiofile component.
 */

$control-size: 4rem;
$control-icon-size: 2rem;
$control-background-color: #ddd;
$control-color-default: #333;
$control-color-stop: #f33;

.audiofile-recorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  .control {
    display: flex;
    width: $control-size;
    height: $control-size;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: $control-background-color;
    border-radius: 50%;

    svg {
      width: $control-icon-size;
      height: $control-icon-size;
    }
  }
  .icon-start {
    color: $control-color-default;
  }
  .icon-stop {
    color: $control-color-stop;
  }
}
